/* font-family: 'Open Sans', sans-serif; 
font-family: 'Roboto', sans-serif; */


body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.container {
    background-color: #34421e;
    width: 80%;
    height: 450px;
    color: #fff;
    position: relative;
}

.info {
    width: 640px;
    height: 480px;
    background-image: url(../images/house.jpg);
    background-size: cover;
    position: absolute; 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 37px 0; 
    right: 30px;
    top: 30px; 
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute; 
    width: 100px;
    height: 100px;
    top: 50px;
    left: -100px;
    line-height: 85px;
}

.text {
    width: 350px;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: absolute; 
    text-align: right;
    right: 30px; 
    bottom: 30px;
}